# 在这里配置需要整合翻译的模组仓库信息

mods:
  - repo: "Creators-of-Create/Create"
    # 分支可选，不填则使用仓库的默认分支
    # branch: "mc1.21.1/dev"
    # 按此顺序查找语言文件夹，找到即止
    lang_paths:
      - "src/generated/resources/assets/create/lang" # 优先查找生成路径
      - "src/main/resources/assets/create/lang"      # 备用查找源码路径
    modid: "create"
    # 版本号可选，不填则尝试从分支名中提取 (例如 mc1.20.1/dev -> 1.20)
    version: "1.20" 
    curseforge: "create"

  - repo: "Yirmiri/Dungeons-Delight"
    lang_paths:
      - "src/main/resources/assets/dungeonsdelight/lang/"
      - "src/generated/resources/assets/dungeonsdelight/lang"
    modid: "dungeonsdelight"
    version: "1.20" 
    curseforge: "dungeons-delight"

  - repo: "Team-EnderIO/EnderIO"
    branch: "1.21.1"
    # 合并所有路径下的文件
    # 列出所有包含语言文件的子模块路径
    lang_paths:
      - "enderio/src/generated/resources/assets/enderio/lang"
      - "enderio/src/main/resources/assets/enderio/lang"
    modid: "enderio"
    curseforge: "ender-io"

  - repo: "SlimeKnights/TinkersConstruct"
    lang_paths:
      - "src/main/resources/assets/tconstruct/lang/"
    modid: "tconstruct"
    curseforge: "tinkers-construct"

  - repo: "Shadows-of-Fire/Apotheosis"
    lang_paths:
      - "src/main/resources/assets/apotheosis/lang/"
    modid: "apotheosis"
    curseforge: "apotheosis"

  - repo: "Potion-Studios/Oh-The-Biomes-Weve-Gone"
    lang_paths:
      - "Common/src/main/resources/assets/biomeswevegone/lang/"
      - "Common/src/main/generated/resources/assets/biomeswevegone/lang/"
    modid: "biomeswevegone"
    curseforge: "oh-the-biomes-weve-gone"

  - repo: "mekanism/Mekanism"
    lang_paths:
      - "src/main/resources/assets/mekanism/lang/"
      - "src/datagen/generated/mekanism/assets/mekanism/lang/"
    modid: "mekanism"
    curseforge: "mekanism"

  - repo: "Tslat/Advent-Of-Ascension"
    lang_paths:
      - "lang/"
    modid: "aoa3"
    curseforge: "advent-of-ascension-nevermine"

  - repo: "AppliedEnergistics/Applied-Energistics-2"
    lang_paths:
      - "src/main/resources/assets/ae2/lang/"
      - "src/generated/resources/assets/ae2/lang/"
    modid: "ae2"
    version: "1.21"
    curseforge: "applied-energistics-2"
  
  - repo: "P3pp3rF1y/SophisticatedStorage"
    lang_paths:
      - "src/main/resources/assets/sophisticatedstorage/lang/"
    modid: "sophisticatedstorage"
    version: "1.21"
    curseforge: "sophisticated-storage"
    
  - repo: "P3pp3rF1y/SophisticatedBackpacks"
    lang_paths:
      - "src/main/resources/assets/sophisticatedbackpacks/lang/"
    modid: "sophisticatedbackpacks"
    curseforge: "sophisticated-backpacks"
      
  - repo: "P3pp3rF1y/SophisticatedCore"
    lang_paths:
      - "src/main/resources/assets/sophisticatedcore/lang/"
    modid: "sophisticatedcore"
    curseforge: "sophisticated-core"
      
  - repo: "TeamTwilight/twilightforest"
    lang_paths:
      - "src/main/resources/assets/twilightforest/lang/"
      - "src/generated/resources/assets/twilightforest/lang/"
    modid: "twilightforest"
    curseforge: "the-twilight-forest"

  - repo: "Rearth/Oritech"
    lang_paths:
      - "common/src/main/resources/assets/oritech/lang/"
    modid: "oritech"
    curseforge: "oritech"
          
  - repo: "AztechMC/Modern-Industrialization"
    lang_paths:
      - "src/main/resources/assets/modern_industrialization/lang/"
      - "src/generated/resources/assets/modern_industrialization/lang/"
    modid: "modern_industrialization"
    curseforge: "modern-industrialization"
          
  - repo: "BluSunrize/ImmersiveEngineering"
    lang_paths:
      - "src/main/resources/assets/immersiveengineering/lang/"
      - "src/generated/resources/assets/immersiveengineering/lang/"
    modid: "immersiveengineering"
    curseforge: "immersive-engineering"

  - repo: "terrarium-earth/Cognition"
    # branch 未填写，将自动获取默认分支
    lang_paths:
      - "src/main/resources/assets/cognition/lang/"
    modid: "cognition"
    # version 未填写，将自动从分支名提取，例如 '1.19.x' -> '1.19'
    curseforge: "cognition-mod"

  - repo: "vectorwing/FarmersDelight"
    branch: "1.21"
    lang_paths:
      - "src/main/resources/assets/farmersdelight/lang/"
    modid: "farmersdelight"
    # version 未填写，将自动从分支名提取，例如 '1.19.x' -> '1.19'
    curseforge: "farmers-delight"
  
  - repo: "klikli-dev/occultism"
    # branch 未填写，将自动获取默认分支
    lang_paths:
      - "src/generated/resources/assets/occultism/lang/"
      - "src/main/resources/assets/occultism/lang/"
    modid: "occultism"
    # version 未填写，将自动从分支名提取，例如 '1.19.x' -> '1.19'
    curseforge: "occultism"

  - repo: "iron431/irons-spells-n-spellbooks"
    # branch 未填写，将自动获取默认分支
    lang_paths:
      - "src/main/resources/assets/irons_spellbooks/lang"
    modid: "irons_spellbooks"
    # version 未填写，将自动从分支名提取，例如 '1.19.x' -> '1.19'
    curseforge: "irons-spells-n-spellbooks"

  - repo: "SammySemicolon/Malum-Mod"
    # branch 未填写，将自动获取默认分支
    lang_paths:
      - "src/generated/resources/assets/malum/lang"
      - "src/main/resources/assets/malum/lang/"
    modid: "malum"
    # version 未填写，将自动从分支名提取，例如 '1.19.x' -> '1.19'
    curseforge: "malum"

  - repo: "Azanor/thaumcraft-beta"
    # branch 未填写，将自动获取默认分支
    lang_paths:
      - "."
    modid: "thaumcraft"
    version: "1.12" 
    curseforge: "thaumcraft"

  - repo: "cable-mc/cobblemon"
    repo_provider: "gitlab"
    branch: "main"
    lang_paths:
      - "common/src/main/resources/assets/cobblemon/lang/"
    version: "1.21" 
    modid: "cobblemon"
    curseforge: "cobblemon"

  - repo: "InventivetalentDev/minecraft-assets"
    branch: "1.7.10"
    lang_paths:
      - "assets/minecraft/lang"
    modid: "minecraft"
    version: "1.7"
    curseforge: "minecraft"

  - repo: "InventivetalentDev/minecraft-assets"
    branch: "1.12.2"
    lang_paths:
      - "assets/minecraft/lang"
    modid: "minecraft"
    version: "1.12"
    curseforge: "minecraft"

  - repo: "InventivetalentDev/minecraft-assets"
    branch: "1.16.5"
    lang_paths:
      - "assets/minecraft/lang"
    modid: "minecraft"
    curseforge: "minecraft"

  - repo: "InventivetalentDev/minecraft-assets"
    branch: "1.18.2"
    lang_paths:
      - "assets/minecraft/lang"
    modid: "minecraft"
    curseforge: "minecraft"

  - repo: "InventivetalentDev/minecraft-assets"
    branch: "1.20.1"
    lang_paths:
      - "assets/minecraft/lang"
    modid: "minecraft"
    curseforge: "minecraft"
    
  - repo: "InventivetalentDev/minecraft-assets"
    branch: "1.21"
    lang_paths:
      - "assets/minecraft/lang"
    modid: "minecraft"
    curseforge: "minecraft"

  # - repo: "some-developer/some-cool-mod"
  #   # branch 未填写，将自动获取默认分支
  #   lang_paths:
  #     - "src/main/resources/assets/somecoolmod/lang"
  #   modid: "somecoolmod"
  #   # version 未填写，将自动从分支名提取，例如 '1.19.x' -> '1.19'
  #   curseforge: "some-cool-mod"

